<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bowen.gallery">

    <!-- SD卡读取权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:name=".view.ImageSelectorActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.ImagePreviewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.ImageCropActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>