<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bowen.doctor">
    <!-- 连接互联网Internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD卡读取权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 生成快捷图标权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--获取Camera权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hradware.camera" />
    <uses-permission android:name="android.hradware.camera.autofocus" />
    <!-- 允许一个程序获取信息有关当前或最近运行的任务，是否活动等等 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <application
        android:name=".BowenApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:name">

        <!--高德地图key-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${GAODE_API_KEY}" />
        <service android:name="com.amap.api.location.APSService"></service>

        <!-- 友盟 start -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}" />

        <!--网络监测-->
        <receiver android:name=".main.receiver.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- main -->

        <activity android:name=".main.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".main.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.BrowserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.GuideActivity"
            android:screenOrientation="portrait" />

        <!-- login -->
        <activity
            android:name=".login.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login.activity.RegistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name=".homepage.activity.ServiceSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homepage.activity.OutpatientAppiontmentSetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".homepage.activity.OutpatientAppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homepage.activity.GraphicConsultSetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mine.activity.FinishInformationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mine.activity.QualityCertificateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.FitDiseaseSelectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mine.activity.MyHospitalAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mine.activity.MyHospitalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.HospitalDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.MyBusinessCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.MyAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.BalanceWithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homepage.activity.PrescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homepage.activity.AddCommonUsedPrescriptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".homepage.activity.EditCommonUsedPrescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homepage.activity.CommonUsedPrescriptionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homepage.activity.FolkPrescriptionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.MyEnterHospitalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.EnterHospitalEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.HospitalSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mine.activity.AddHospitalRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.MyFansActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mine.activity.MyEnterAuditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.SafeSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consult.activity.SelectCommonUsePrescriptionActivity"
            android:screenOrientation="portrait" />


        <!-- 咨询 -->
        <activity
            android:name=".consult.activity.ChatActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mine.activity.BindBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.WithdrawRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.WithdrawSuccessActivity"
            android:screenOrientation="portrait" />

    </application>


</manifest>